asgiref==3.2.10
certifi==2020.6.20
chardet==3.0.4
Django==3.1
django-crispy-forms==1.9.2
django-fontawesome-5==1.0.18
django-tempus-dominus==5.1.2.14
fitparse==1.2.0
idna==2.10
pkg_resources==0.0.0
protobuf==3.13.0
psycopg2-binary==2.9.1
pysolr==3.9.0
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
six==1.15.0
sqlparse==0.4.1
urllib3==1.25.11
xlrd==1.2.0
zwift-client==0.2.0
