{% extends 'rides/base.html' %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Skyline</h1>
        <h2>Forgot your password?</h2>
        <p>Enter your email address below, and we'll email instructions for setting a new one.</p>

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary" type="submit">
                <i class="far fa-envelope"></i> Send me instructions
            </button>
        </form>
    </div>

{% endblock %}