{% extends 'base.html' %}
{% load static %}

{% block content %}

{% include 'partials/_navigation.html' %}

<div class="jumbotron" style="background-image: url({% static 'img/skyline.jpg' %})">
    <h1 class="display-4">Skyline</h1>
    <a class="btn btn-primary" href="{% url 'ride_list' %}">
        <i class="far fa-search"></i> View Your Rides
    </a>
    <a class="btn btn-primary" href="{% url 'ride_new' %}">
        <i class="far fa-plus-circle"></i> Add New Ride
    </a>
</div>

{% endblock %}