{% extends 'rides/base.html' %}

{% block content %}
    <h2>Import Ride</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Status</th>
                <th scope="col">World</th>
                <th scope="col">Ride Description</th>
                <th scope="col">Date</th>
                <th scope="col">Duration</th>
                <th scope="col">Distance</th>
            </tr>
        </thead>
        <tbody>
            {% for ride in context.rides %}
                <tr>
                    <td scope="col">
                        <a class="btn btn-primary" href="/import_ride_add?id={{ ride.id }}" role="button" alt="import this ride">
                            <i class="fas fa-check-circle"></i>
                        </a>
                    </td>
                    <td scope="col">
                        New
                    </td>
                    <td scope="col">
                        {{ ride.zwift_world }}
                    </td>
                    <td scope="col">
                        {{ ride.name }}
                    </td>
                    <td scope="col">
                        {{ ride.ride_date|date:'M j Y g:i A' }}
                    </td>
                    <td scope="col">
                        {{ ride.duration }}
                    </td>
                    <td scope="col">
                        {{ ride.distance }} mi
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}