{% extends 'base.html' %}

{% block content %}

    {% include 'partials/_navigation.html' %}

    <h2>Import Ride</h2>
    {% if context.status == 'success' %}
        <div class="alert alert-success" role="alert">
            Successfully imported ride <strong>{{ context.ride.title }}({{ context.ride.ride_date }})</strong>
        </div>
        <a href="ride/{{ context.ride.id }}">View Ride Detail</a>
    {% else %}
        <div class="alert alert-danger" role="alert">
            Failed to imported ride
        </div>
    {% endif %}
{% endblock %}