{% extends 'rides/base.html' %}

{% block content %}
    <h2>Import Rides</h2>
    <div class="card bg-light">
        <div class="card-body">
            <h5 class="card-title">Import Rides from Zwift</h5>
            <p class="card-text">
                Listing of your recent rides from Zwift. See which rides have
                already been imported, select new rides to be imported.
            </p>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">World</th>
                <th scope="col">Ride Description</th>
                <th scope="col">Date</th>
                <th scope="col">Duration</th>
                <th scope="col">Distance</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for ride in context.rides %}
                <tr>
                    <td scope="col">
                        {{ ride.zwift_world }}
                    </td>
                    <td scope="col">
                        {{ ride.name }}
                    </td>
                    <td scope="col">
                        {{ ride.ride_date|date:'M j Y g:i A' }}
                    </td>
                    <td scope="col">
                        {{ ride.duration }}
                    </td>
                    <td scope="col">
                        {{ ride.distance }} mi
                    </td>
                    {% if ride.status == 'new' %}
                        <td scope="col">
                            New
                        </td>
                        <td scope="col">
                            <a href="/import_ride_add?id={{ ride.id }}" role="button" alt="import this ride">
                                <i class="far fa-plus-circle text-success"></i>
                            </a>
                        </td>
                    {% elif ride.status == 'present' %}
                        <td scope="col">
                            Present
                        </td>
                        <td scope="col">
                            <i class="fas fa-check-circle text-primary"></i>
                        </td>
                    {% else %}
                        <td scope="col">
                            Error
                        </td>
                        <td scope="col">
                            <button class="btn btn-warning" disabled>
                                <i class="fas fa-exclamation-circle"></i>
                            </button>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}