{% extends 'base.html' %}

{% block content %}

    {% include 'partials/_navigation.html' %}

    <h2>Ride New/Edit</h2>

    <form method="POST" class="ride-form">
        {% csrf_token %}
        <table>{{ form.as_table }}</table>
        <button class="btn btn-primary" type="submit">
            <i class="far fa-save"></i> Save
        </button>
        <a class="btn btn-secondary" href="{% url 'ride_list' %}">
            <i class="far fa-times-circle"></i> Cancel
        </a>
    </form>

{% endblock %}