{% extends 'rides/base.html' %}
{% load ride_filters %}

{% block content %}
    <h2>Ride List</h2>
    <div class="card bg-light">
        <div class="card-body">
            <p class="card-text">
                Listing of all rides in Skyline app
            </p>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Ride Date</th>
                <th scope="col">Name</th>
                <th scope="col">Distance</th>
                <th scope="col">Duration</th>
                <th scope="col">Calories</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for ride in rides %}
                <tr>
                    <td>{{ ride.start_time }}</td>
                    <td>{{ ride.title}}</td>
                    <td>{{ ride.distance }} mi</td>
                    <td>{{ ride.duration|duration_string }}</td>
                    <td>{{ ride.calories }}</td>
                    <td>
                        <a href="{% url 'ride_detail' id=ride.id %}" alt="View Detail">
                            <i class="far fa-clipboard-list-check fa-lg"></i>
                        </a>
                        &nbsp;
                        <a href="{% url 'ride_confirm_delete' id=ride.id %}" alt="Delete Record">
                            <i class="far fa-trash text-danger fa-lg"></i>
                        </a>
                    </td>
                </tr>
            {% empty  %}
                <td colspan="5">
                    <span class="empty">No ride data is available</span>
                </td>
            {% endfor %}

        </tbody>
    </table>
{% endblock %}

