{% extends 'base.html' %}

{% block content %}

    {% include 'partials/_navigation.html' %}

    <h2>Delete Ride</h2>

    <p>Confirm deletion of ride:</p>
    <p>
        <a class="btn btn-danger" href="{% url 'ride_delete' id=context.ride.id %}">
            <i class="far fa-trash fa-lg"></i>&nbsp;Delete Ride
        </a>
        &nbsp;
        <a class="btn btn-secondary" href="{% url 'ride_list' %}">
            <i class="far fa-undo fa-lg"></i>&nbsp;Cancel
        </a>
    </p>

{% endblock %}