{% extends 'rides/base.html' %}

{% block content %}
    <h2>View Raw Data</h2>
    <div class="card">
        <div class="card-header bg-primary text-white">
            Ride Zwift Meta Data
        </div>
        <div class="card-body">
            <p class="card-text">{{ context.meta }}</p>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-header bg-success text-white">
            Zwift Activity
        </div>
        <div class="card-body">
            <p class="card-text">{{ context.activity }}</p>
        </div>
    </div>
    <br>
    <div class="card bg-light">
        <div class="card-header bg-info text-white">
            Zwift Activities
        </div>
        <div class="card-body">
            <p class="card-text">{{ context.activities }}</p>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-header bg-secondary text-white">
            Ride Fit File Data (Zwift)
        </div>
        <div class="card-body">
            <p class="card-text">{{ context.fit_data }}</p>
        </div>
    </div>


{% endblock %}